# ASSIGNMENT_1

1) Load in the appropriate csv file as a pandas dataframe (batting.csv)

In [50]:
import pandas as pd
import numpy as np

In [51]:
batting = pd.read_csv('batting.csv')

2) Print out the dimensions and info about the dataframe you just created

In [52]:
print(batting)

         playerID  nameFirst     nameLast  birthYear  yearID  stint teamID  \
0       abercda01      Frank  Abercrombie       1850    1871      1    TRO
1        addybo01        Bob         Addy       1842    1871      1    RC1
2       allisar01        Art      Allison       1849    1871      1    CL1
3       allisdo01       Doug      Allison       1846    1871      1    WS3
4       ansonca01        Cap        Anson       1852    1871      1    RC1
5       armstbo01     Robert    Armstrong       1850    1871      1    FW1
6       barkeal01         Al       Barker       1839    1871      1    RC1
7       barnero01       Ross       Barnes       1850    1871      1    BS1
8       barrebi01       Bill      Barrett          0    1871      1    FW1
9       barrofr01      Frank      Barrows       1844    1871      1    BS1
10       bassjo01       John         Bass       1848    1871      1    CL1
11      battijo01        Joe       Battin       1853    1871      1    CL1
12      bealsto01      Tommy        Beals       1850    1871      1    WS3
13      beaveed01     Edward      Beavens       1848    1871      1    TRO
14      bechtge01     George      Bechtel       1848    1871      1    PH1
15      bellast01      Steve       Bellan       1849    1871      1    TRO
16      berkena01       Nate  Berkenstock       1831    1871      1    PH1
17      berryto01        Tom        Berry       1842    1871      1    PH1
18      berthha01      Harry    Berthrong       1844    1871      1    WS3
19      biermch01    Charles      Bierman       1845    1871      1    FW1
20       birdge01     George         Bird       1850    1871      1    RC1
21      birdsda01       Dave     Birdsall       1838    1871      1    BS1
22      brainas01        Asa     Brainard       1841    1871      1    WS3
23      brannmi01       Mike     Brannock       1851    1871      1    CH1
24      burrohe01      Henry    Burroughs       1845    1871      1    WS3
25      careyto01        Tom        Carey       1846    1871      1    FW1
26      carleji01        Jim     Carleton       1848    1871      1    CL1
27       conefr01       Fred         Cone       1848    1871      1    BS1
28      connone01        Ned       Connor       1850    1871      1    TRO
29      cravebi01       Bill       Craver       1844    1871      1    TRO
...           ...        ...          ...        ...     ...    ...    ...
102786  wittgni01       Nick     Wittgren       1991    2016      1    MIA
102787  wolteto01       Tony      Wolters       1992    2016      1    COL
102788   wongko01     Kolten         Wong       1990    2016      1    SLN
102789   woodal02       Alex         Wood       1991    2016      1    LAN
102790   woodbl01      Blake         Wood       1985    2016      1    CIN
102791   woodtr01     Travis         Wood       1987    2016      1    CHN
102792  worleva01      Vance       Worley       1987    2016      1    BAL
102793  worthda01      Danny        Worth       1985    2016      1    HOU
102794  wrighda03      David       Wright       1982    2016      1    NYN
102795  wrighda04     Daniel       Wright       1991    2016      1    CIN
102796  wrighda04     Daniel       Wright       1991    2016      2    LAA
102797  wrighmi01       Mike       Wright       1990    2016      1    BAL
102798  wrighst01     Steven       Wright       1984    2016      1    BOS
102799  yateski01      Kirby        Yates       1987    2016      1    NYA
102800  yelicch01  Christian       Yelich       1991    2016      1    MIA
102801   ynoaga01    Gabriel         Ynoa       1993    2016      1    NYN
102802   ynoami01    Michael         Ynoa       1991    2016      1    CHA
102803   ynoara01     Rafael         Ynoa       1987    2016      1    COL
102804  youngch03      Chris        Young       1979    2016      1    KCA
102805  youngch04      Chris        Young       1983    2016      1    BOS
102806  younger03       Eric        Young       1985    2016      1    NYA
102807  youngma03    Madison    Younginer       1990    2016      1    ATL
102808  zastrro01        Rob    Zastryzny       1992    2016      1    CHN
102809  zieglbr01       Brad      Ziegler       1979    2016      1    ARI
102810  zieglbr01       Brad      Ziegler       1979    2016      2    BOS
102811  zimmejo02     Jordan   Zimmermann       1986    2016      1    DET
102812  zimmery01       Ryan    Zimmerman       1984    2016      1    WAS
102813  zobribe01        Ben      Zobrist       1981    2016      1    CHN
102814  zuninmi01       Mike       Zunino       1991    2016      1    SEA
102815   zychto01       Tony         Zych       1990    2016      1    SEA

       lgID    G   AB  ...    RBI    SB   CS  BB     SO  IBB  HBP   SH   SF  \
0       NaN    1    4  ...    0.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN
1       NaN   25  118  ...   13.0   8.0  1.0   4    0.0  NaN  NaN  NaN  NaN
2       NaN   29  137  ...   19.0   3.0  1.0   2    5.0  NaN  NaN  NaN  NaN
3       NaN   27  133  ...   27.0   1.0  1.0   0    2.0  NaN  NaN  NaN  NaN
4       NaN   25  120  ...   16.0   6.0  2.0   2    1.0  NaN  NaN  NaN  NaN
5       NaN   12   49  ...    5.0   0.0  1.0   0    1.0  NaN  NaN  NaN  NaN
6       NaN    1    4  ...    2.0   0.0  0.0   1    0.0  NaN  NaN  NaN  NaN
7       NaN   31  157  ...   34.0  11.0  6.0  13    1.0  NaN  NaN  NaN  NaN
8       NaN    1    5  ...    1.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN
9       NaN   18   86  ...   11.0   1.0  0.0   0    0.0  NaN  NaN  NaN  NaN
10      NaN   22   89  ...   18.0   0.0  1.0   3    4.0  NaN  NaN  NaN  NaN
11      NaN    1    3  ...    0.0   0.0  0.0   1    0.0  NaN  NaN  NaN  NaN
12      NaN   10   36  ...    1.0   2.0  0.0   2    0.0  NaN  NaN  NaN  NaN
13      NaN    3   15  ...    5.0   2.0  0.0   0    0.0  NaN  NaN  NaN  NaN
14      NaN   20   94  ...   21.0   4.0  0.0   2    2.0  NaN  NaN  NaN  NaN
15      NaN   29  128  ...   23.0   4.0  4.0   9    2.0  NaN  NaN  NaN  NaN
16      NaN    1    4  ...    0.0   0.0  0.0   0    3.0  NaN  NaN  NaN  NaN
17      NaN    1    4  ...    0.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN
18      NaN   17   73  ...    8.0   3.0  1.0   4    2.0  NaN  NaN  NaN  NaN
19      NaN    1    2  ...    0.0   0.0  0.0   1    0.0  NaN  NaN  NaN  NaN
20      NaN   25  106  ...   13.0   1.0  0.0   3    2.0  NaN  NaN  NaN  NaN
21      NaN   29  152  ...   24.0   6.0  0.0   4    4.0  NaN  NaN  NaN  NaN
22      NaN   30  134  ...   21.0   4.0  0.0   7    2.0  NaN  NaN  NaN  NaN
23      NaN    3   14  ...    0.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN
24      NaN   12   63  ...   14.0   0.0  0.0   1    1.0  NaN  NaN  NaN  NaN
25      NaN   19   87  ...   10.0   5.0  0.0   2    1.0  NaN  NaN  NaN  NaN
26      NaN   29  127  ...   18.0   2.0  1.0   8    3.0  NaN  NaN  NaN  NaN
27      NaN   19   77  ...   16.0  12.0  1.0   8    2.0  NaN  NaN  NaN  NaN
28      NaN    7   33  ...    2.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN
29      NaN   27  118  ...   26.0   6.0  3.0   3    0.0  NaN  NaN  NaN  NaN
...     ...  ...  ...  ...    ...   ...  ...  ..    ...  ...  ...  ...  ...
102786   NL   48    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102787   NL   71  205  ...   30.0   4.0  1.0  21   53.0  2.0  0.0  4.0  0.0
102788   NL  121  313  ...   23.0   7.0  0.0  34   52.0  2.0  9.0  0.0  5.0
102789   NL   15   16  ...    2.0   0.0  0.0   1    9.0  0.0  0.0  2.0  0.0
102790   NL   70    2  ...    0.0   0.0  0.0   0    2.0  0.0  0.0  0.0  0.0
102791   NL   81   11  ...    1.0   0.0  0.0   1    5.0  0.0  0.0  0.0  0.0
102792   AL   35    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102793   AL   16   39  ...    1.0   0.0  0.0   1    6.0  0.0  0.0  0.0  0.0
102794   NL   37  137  ...   14.0   3.0  2.0  26   55.0  0.0  0.0  0.0  0.0
102795   NL    4    5  ...    0.0   0.0  0.0   0    2.0  0.0  0.0  1.0  0.0
102796   AL    5    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102797   AL   18    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102798   AL   25    4  ...    0.0   0.0  0.0   0    3.0  0.0  0.0  0.0  0.0
102799   AL   41    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102800   NL  155  578  ...   98.0   9.0  4.0  72  138.0  4.0  4.0  0.0  5.0
102801   NL   10    3  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102802   AL   23    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102803   NL    3    5  ...    0.0   0.0  0.0   0    2.0  0.0  0.0  0.0  0.0
102804   AL   34    1  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102805   AL   76  203  ...   24.0   4.0  2.0  21   50.0  0.0  3.0  0.0  0.0
102806   AL    6    1  ...    0.0   1.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102807   NL    8    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102808   NL    8    3  ...    0.0   0.0  0.0   0    2.0  0.0  0.0  0.0  0.0
102809   NL   36    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102810   AL   33    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0
102811   AL   19    4  ...    0.0   0.0  0.0   0    2.0  0.0  0.0  1.0  0.0
102812   NL  115  427  ...   46.0   4.0  1.0  29  104.0  1.0  5.0  0.0  6.0
102813   NL  147  523  ...   76.0   6.0  4.0  96   82.0  6.0  4.0  4.0  4.0
102814   AL   55  164  ...   31.0   0.0  0.0  21   65.0  0.0  6.0  0.0  1.0
102815   AL   12    0  ...    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0

        GIDP
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
...      ...
102786   0.0
102787   1.0
102788   3.0
102789   0.0
102790   0.0
102791   0.0
102792   0.0
102793   1.0
102794   0.0
102795   0.0
102796   0.0
102797   0.0
102798   0.0
102799   0.0
102800  20.0
102801   0.0
102802   0.0
102803   0.0
102804   0.0
102805   4.0
102806   0.0
102807   0.0
102808   0.0
102809   0.0
102810   0.0
102811   0.0
102812  12.0
102813  17.0
102814   0.0
102815   0.0

[102816 rows x 25 columns]

3)	How many players have hit 40 or more HRs in one single season? (Number only)

In [53]:
over40 = batting[(batting.HR >= 40)]
over40['playerID'].nunique()

142

4)	How many players have hit more than 600 HRs for their career? (Dataframe)

In [54]:
by_playerID = batting.groupby('playerID')

In [55]:
m = by_playerID[['HR']].sum()

In [56]:
over600 = m[(m['HR'] > 600)]

In [57]:
over600

            HR
playerID
aaronha01  755
bondsba01  762
griffke02  630
mayswi01   660
rodrial01  696
ruthba01   714
sosasa01   609
thomeji01  612

5)	How many players have hit 40 2Bs, 10 3Bs, 200 Hits, and 30 HRs (inclusive) in one season? (Number Only)

In [58]:
batting[(batting['2B'] == 40)&(batting['3B']==10)&(batting['H']==200)&(batting['HR']==30)][['playerID']].nunique()

playerID   NaN
dtype: float64

6)	How many players have had 100 or more SBs in a season? (Dataframe)

In [59]:
batting[(batting['SB']>=100)][['playerID','SB' ]]

        playerID     SB
3473   brownpe01  103.0
3501   comisch01  117.0
3546   fogarji01  102.0
3617   lathaar01  129.0
3667   nicolhu01  138.0
3764    wardjo01  111.0
3975   lathaar01  109.0
4014   nicolhu01  103.0
4278   hamilbi01  111.0
4696   hamilbi01  102.0
5086   brownto01  106.0
5232   hamilbi01  111.0
42681  willsma01  104.0
51853  brocklo01  118.0
57717  henderi01  100.0
59616  henderi01  130.0
60621  henderi01  108.0
62410  colemvi01  110.0
63411  colemvi01  107.0
64425  colemvi01  109.0

In [60]:
batting[(batting['SB']>=100)][['playerID']].nunique()

playerID    12
dtype: int64

7)	How many players in the 1960s have hit more than 200 HRs? (Dataframe)

In [61]:
time1960s = batting[(batting['yearID']<= 1969 )&(batting['yearID']>=1960)]

In [62]:
by_playerID_1960s = time1960s.groupby('playerID')

In [63]:
bp1960s_HR = by_playerID_1960s[['HR']].sum()

In [100]:
bp1960s_HR[(bp1960s_HR['HR']>200)]

            HR
playerID
aaronha01  375
allisbo01  225
bankser01  269
cashno01   278
cepedor01  254
colavro01  245
howarfr01  288
kalinal01  210
killeha01  393
mantlmi01  256
marisro01  217
matheed01  213
mayswi01   350
mccovwi01  300
powelbo01  202
robinfr02  316
santoro01  253
willibi01  249
yastrca01  202

8)	Who has hit the most HRs in history? (Dataframe)

In [101]:
b = by_playerID.sum()['HR'].max()

In [102]:
by_playerID.sum()[(by_playerID.sum()['HR'] == b)][['HR']]

            HR
playerID
bondsba01  762

In [103]:
batting[(batting['playerID'] == 'bondsba01')][['nameFirst','nameLast']].iloc[0]

nameFirst    Barry
nameLast     Bonds
Name: 63321, dtype: object

9)	Who had the most hits in the 1970s? (Dataframe)

In [104]:
time1970s = batting[(batting['yearID']<= 1979 )&(batting['yearID']>=1970)]

In [105]:
by_playerID_1970s = time1970s.groupby('playerID')

In [106]:
bp1970s_H = by_playerID_1970s[['H']].sum()

In [107]:
bp1970s_H[(bp1970s_H['H'] == bp1970s_H['H'].max())]

             H
playerID
rosepe01  2045

In [108]:
batting[(batting['playerID']== 'rosepe01')][['nameFirst','nameLast']].iloc[0]

nameFirst    Pete
nameLast     Rose
Name: 43287, dtype: object

10)	Top 5 highest OBP (on base percentage) with at least 500 PAs in 1977?  (Dataframe)

In [211]:
u = batting[['playerID','nameFirst','nameLast','yearID','lgID','H','HR','BB','IBB','AB','SF','SH']].dropna()

In [212]:
obp = (u['H']+u['BB']+u['IBB']+u['SH']+ u['SF'])/u['AB']

In [213]:
pa = u['AB']+u['BB']+u['IBB']+u['SH']+u['SF']

In [214]:
u['OBP']= obp

In [215]:
u['PA'] = pa

In [216]:
u[(u['PA']>=500)&(u['yearID']==1977)].sort_values(by ='OBP',ascending=False)[0:5]

,playerID,nameFirst,nameLast,yearID,lgID,H,HR,BB,IBB,AB,SF,SH,OBP,PA
55273,singlke01,Ken,Singleton,1977,AL,176,24,107,13.0,536,6.0,0.0,0.563433,662.0
55280,smithre06,Reggie,Smith,1977,NL,150,32,104,11.0,488,7.0,1.0,0.559426,611.0
55329,tenacge01,Gene,Tenace,1977,NL,102,15,125,10.0,437,4.0,2.0,0.556064,578.0
54820,hargrmi01,Mike,Hargrove,1977,AL,160,18,103,7.0,525,6.0,8.0,0.540952,649.0
54603,carewro01,Rod,Carew,1977,AL,239,14,69,15.0,616,5.0,1.0,0.534091,706.0

11)	Top 8 highest averages in 2013 with at least 300 PAs? (Dataframe

In [217]:
average = u['H']/u['AB']

In [218]:
u['Average'] = average

In [219]:
u[(u['yearID']==2013)&(u['PA']>=300)].sort_values(by='Average',ascending = False)[0:5]

,playerID,nameFirst,nameLast,yearID,lgID,H,HR,BB,IBB,AB,SF,SH,OBP,PA,Average
97188,cabremi01,Miguel,Cabrera,2013,AL,193,44,90,19.0,555,2.0,0.0,0.547748,666.0,0.347748
98062,ramirha01,Hanley,Ramirez,2013,NL,105,20,27,3.0,304,2.0,0.0,0.450658,336.0,0.345395
97300,cuddymi01,Michael,Cuddyer,2013,NL,162,20,46,5.0,489,3.0,0.0,0.441718,543.0,0.331288
97825,mauerjo01,Joe,Mauer,2013,AL,144,11,61,7.0,445,2.0,0.0,0.480899,515.0,0.323596
98293,troutmi01,Mike,Trout,2013,AL,190,27,110,10.0,589,8.0,0.0,0.539898,717.0,0.322581

12)	Leaders in hits from 1940 up to and including 1949. (Dataframe)

In [220]:
# method 1 (not good, because because there might be several leaders who had same number of hits in 
# each year. method 2 is better)

In [221]:
p = batting[(batting['yearID']>=1940)&(batting['yearID']<=1949)]

In [222]:
p.sort_values(by='H', ascending = False).groupby('yearID',as_index=False).first()[['yearID','playerID','nameFirst','nameLast','H']]

   yearID   playerID nameFirst    nameLast    H
0    1940  radclri01       Rip    Radcliff  200
1    1941  travice01     Cecil      Travis  218
2    1942  peskyjo01    Johnny       Pesky  205
3    1943  musiast01      Stan      Musial  220
4    1944  stirnsn01    Snuffy  Stirnweiss  205
5    1945  holmeto01     Tommy      Holmes  224
6    1946  musiast01      Stan      Musial  228
7    1947  peskyjo01    Johnny       Pesky  207
8    1948  musiast01      Stan      Musial  230
9    1949  musiast01      Stan      Musial  207

In [223]:
# method 2

In [224]:
p.groupby('yearID').apply(lambda yearID_df:yearID_df[yearID_df.H==yearID_df.H.max()])[['yearID','playerID','nameFirst','nameLast','H']]

              yearID   playerID nameFirst    nameLast    H
yearID
1940   28773    1940  cramedo01       Doc      Cramer  200
       29010    1940  mccosba01    Barney     McCosky  200
       29084    1940  radclri01       Rip    Radcliff  200
1941   29747    1941  travice01     Cecil      Travis  218
1942   30191    1942  peskyjo01    Johnny       Pesky  205
1943   30709    1943  musiast01      Stan      Musial  220
1944   31389    1944  stirnsn01    Snuffy  Stirnweiss  205
1945   31720    1945  holmeto01     Tommy      Holmes  224
1946   32499    1946  musiast01      Stan      Musial  228
1947   33128    1947  peskyjo01    Johnny       Pesky  207
1948   33671    1948  musiast01      Stan      Musial  230
1949   34242    1949  musiast01      Stan      Musial  207

13)	Who led MLB with the most hits the most times?  And how many times?  (Dataframe, Number)

In [225]:
q = batting.groupby('yearID').apply(lambda y_df:y_df[y_df.H==y_df.H.max()]) #each year's most hits

In [226]:
s = q.groupby('playerID').count()
s[(s.H==s.H.max())]['H']

playerID
cobbty01     7
rosepe01     7
suzukic01    7
Name: H, dtype: int64

14) Which players have played the most games for their careers?  Top 5, descending by games played presented as a dataframe

In [227]:
batting.groupby('playerID').sum().G.nlargest(5)

playerID
rosepe01     3562
yastrca01    3308
aaronha01    3298
henderi01    3081
cobbty01     3035
Name: G, dtype: int64

15) How many players have had more than 3000 hits for their careers while also hitting 500 or more HRs?  Just a number is okay here

In [228]:
c = batting.groupby('playerID')[['H','HR']].sum()

In [229]:
len(c[(c['H'] > 3000)&(c['HR'] >=500)])

5

16) How many HRs were hit during the entire 1988 season?  Just a number is okay here

In [230]:
batting[(batting['yearID']==1988)][['HR']].sum()

HR    3180
dtype: int64

17) Please filter out and show me the top 3 average seasons by Wade Boggs during his career in seasons in which he had at least 500 ABs.  I would like a dataframe sorted by average.

In [231]:
u[(u['nameFirst']=='Wade')&(u['nameLast']=='Boggs')&(u['AB']>=500)][['playerID','nameFirst','nameLast','Average']].sort_values(by='Average',ascending=False).iloc[0:3]

        playerID nameFirst nameLast   Average
62316  boggswa01      Wade    Boggs  0.367534
65391  boggswa01      Wade    Boggs  0.366438
64335  boggswa01      Wade    Boggs  0.362976

18) Please filter out the top OBPs for the 1995 season with at least 400 PAs, sorted by OBP.  I would like a dataframe for this

In [232]:
u[(u['yearID']==1995)&(u['PA']>=400)][['playerID','OBP','PA']].sort_values(by='OBP',ascending = False).head()

        playerID       OBP     PA
73996  thomafr04  0.667343  670.0
73578  martied01  0.628180  650.0
73611  mcgwima01  0.586751  416.0
73002  bondsba01  0.583004  652.0
73145  davisch01  0.577830  534.0

19) Who had the most 3Bs (in total) in 1922, 1925, 1926, and 1928?  I would like a dataframe with just the leader

In [233]:
gy= batting[(batting['yearID']).isin(['1922','1925','1926','1928'])].groupby(['yearID'])

In [234]:
gy.apply(lambda gp:gp.groupby('playerID').sum()['3B'].nlargest(1))

yearID  playerID
1922    daubeja01    22
1925    cuyleki01    26
1926    wanerpa01    22
1928    combsea01    21
Name: 3B, dtype: int64

20) How many players have hit 30 or more HRs in season while also stealing (SB) 30 more or bases?  A number is okay here

In [235]:
gs=batting.groupby(['yearID','playerID']).sum()[['HR','SB']]

In [236]:
len(gs[(gs.HR>=30)&(gs.SB>=30)])

60

21) Who had the highest OBP is 1986 with at least 400 PAs? (Dataframe)

In [237]:
u1986=u[(u.yearID==1986)&(u.PA>=400)]

In [238]:
u1986[(u1986.OBP==u1986.OBP.max())]

,playerID,nameFirst,nameLast,yearID,lgID,H,HR,BB,IBB,AB,SF,SH,OBP,PA,Average
63320,boggswa01,Wade,Boggs,1986,AL,207,8,105,14.0,580,4.0,4.0,0.575862,707.0,0.356897

22) Same question but for 1997 and only in the NL (check league ID)? (Dataframe)

In [239]:
u1997=u[(u.yearID==1997)&(u.lgID=='NL')&(u.PA>=400)]

In [240]:
u1997[u1997.OBP==u1997.OBP.max()]

,playerID,nameFirst,nameLast,yearID,lgID,H,HR,BB,IBB,AB,SF,SH,OBP,PA,Average
75505,bondsba01,Barry,Bonds,1997,NL,155,40,145,34.0,532,5.0,0.0,0.637218,716.0,0.291353

23) Who had more than the league average HRs in 2012 (filter out all players with less 500 PAs)? (Dataframe)

In [257]:
bl = u[(u.yearID==2012)&(u.PA>=500)].groupby('lgID')

In [258]:
bl.apply(lambda tt:tt[(tt.HR>tt.HR.mean())])

             playerID  nameFirst     nameLast  yearID lgID    H  HR   BB  \
lgID
AL   95687  beltrad01     Adrian       Beltre    2012   AL  194  36   36
     95759  butlebi03      Billy       Butler    2012   AL  192  29   54
     95768  cabremi01     Miguel      Cabrera    2012   AL  205  44   66
     95777   canoro01   Robinson         Cano    2012   AL  196  33   61
     95814  cespeyo01     Yoenis     Cespedes    2012   AL  142  23   43
     95881   cruzne02     Nelson         Cruz    2012   AL  152  24   48
     95894  davisch02      Chris        Davis    2012   AL  139  33   37
     95952   dunnad01       Adam         Dunn    2012   AL  110  41  105
     95969  encared01      Edwin  Encarnacion    2012   AL  152  42   84
     95993  fieldpr01     Prince      Fielder    2012   AL  182  30   85
     96081  grandcu01     Curtis   Granderson    2012   AL  138  43   75
     96114  hamiljo03       Josh     Hamilton    2012   AL  160  43   60
     96125  hardyjj01      J. J.        Hardy    2012   AL  158  22   38
     96248  jonesad01       Adam        Jones    2012   AL  186  32   34
     96282  konerpa01       Paul      Konerko    2012   AL  159  26   56
     96469  moralke01    Kendrys      Morales    2012   AL  132  22   31
     96485  moustmi01       Mike    Moustakas    2012   AL  136  20   39
     96611  pierzaj01      A. J.   Pierzynski    2012   AL  133  27   28
     96628  pujolal01     Albert       Pujols    2012   AL  173  30   52
     96659  rasmuco01      Colby       Rasmus    2012   AL  126  23   47
     96663  reddijo01       Josh      Reddick    2012   AL  148  32   55
     96671  reynoma01       Mark     Reynolds    2012   AL  101  23   73
     96677   riosal01       Alex         Rios    2012   AL  184  25   26
     96717   rossco01       Cody         Ross    2012   AL  127  22   42
     96779  seageky01       Kyle       Seager    2012   AL  154  20   46
     96846  swishni01       Nick      Swisher    2012   AL  146  24   77
     96857  teixema01       Mark     Teixeira    2012   AL  113  24   54
     96889  troutmi01       Mike        Trout    2012   AL  182  30   67
     96890  trumbma01       Mark       Trumbo    2012   AL  146  32   36
     96897  uptonbj01     Melvin        Upton    2012   AL  141  28   45
...               ...        ...          ...     ...  ...  ...  ..  ...
     96971  willijo03       Josh   Willingham    2012   AL  135  35   76
     97002  zobribe01        Ben      Zobrist    2012   AL  151  20   97
NL   95619  alvarpe01      Pedro      Alvarez    2012   NL  128  30   57
     95688  beltrca01     Carlos      Beltran    2012   NL  147  32   65
     95728  braunry02       Ryan        Braun    2012   NL  191  41   63
     95741  bruceja01        Jay        Bruce    2012   NL  141  34   62
     95871  craigal01      Allen        Craig    2012   NL  144  22   37
     95895  davisik02        Ike        Davis    2012   NL  118  32   61
     95918  desmoia01        Ian      Desmond    2012   NL  150  25   30
     96021  freemfr01    Freddie      Freeman    2012   NL  140  23   64
     96070  gonzaca01     Carlos     Gonzalez    2012   NL  157  22   56
     96127  harpebr03      Bryce       Harper    2012   NL  144  22   56
     96133   hartco01      Corey         Hart    2012   NL  152  30   44
     96138  headlch01      Chase      Headley    2012   NL  173  31   86
     96165  heywaja01      Jason      Heyward    2012   NL  158  27   58
     96167   hillaa01      Aaron         Hill    2012   NL  184  26   52
     96180  hollima01       Matt     Holliday    2012   NL  177  27   75
     96251  jonesga02    Garrett        Jones    2012   NL  130  27   33
     96291  kubelja01      Jason        Kubel    2012   NL  128  30   57
     96301  larocad01       Adam      LaRoche    2012   NL  155  33   67
     96425  mccutan01     Andrew    McCutchen    2012   NL  194  31   70
     96461  molinya01     Yadier       Molina    2012   NL  159  22   45
     96621  poseybu01     Buster        Posey    2012   NL  178  24   69
     96646  ramirar01     Aramis      Ramirez    2012   NL  171  27   44
     96706  rolliji01      Jimmy      Rollins    2012   NL  158  23   62
     96812  soriaal01    Alfonso      Soriano    2012   NL  147  32   44
     96820  stantmi03  Giancarlo      Stanton    2012   NL  130  37   46
     96952  weeksri01     Rickie        Weeks    2012   NL  135  21   74
     96985  wrighda03      David       Wright    2012   NL  178  21   81
     97000  zimmery01       Ryan    Zimmerman    2012   NL  163  25   57

             IBB   AB    SF   SH       OBP     PA   Average
lgID
AL   95687   8.0  604   9.0  0.0  0.408940  657.0  0.321192
     95759   9.0  614   4.0  0.0  0.421824  681.0  0.312704
     95768  17.0  622   6.0  0.0  0.472669  711.0  0.329582
     95777  10.0  627   2.0  0.0  0.429027  700.0  0.312600
     95814   5.0  487   3.0  0.0  0.396304  538.0  0.291581
     95881   2.0  585   4.0  0.0  0.352137  639.0  0.259829
     95894   6.0  515   3.0  0.0  0.359223  561.0  0.269903
     95952   3.0  539   4.0  0.0  0.411874  651.0  0.204082
     95969  12.0  542   7.0  0.0  0.470480  645.0  0.280443
     95993  18.0  581   7.0  0.0  0.502582  691.0  0.313253
     96081   4.0  596   7.0  1.0  0.377517  683.0  0.231544
     96114  13.0  562   9.0  0.0  0.430605  644.0  0.284698
     96125   4.0  663   2.0  7.0  0.315234  714.0  0.238311
     96248   0.0  648   2.0  0.0  0.342593  684.0  0.287037
     96282   4.0  533   2.0  0.0  0.414634  595.0  0.298311
     96469   1.0  484   3.0  0.0  0.345041  519.0  0.272727
     96485   4.0  563   5.0  0.0  0.326821  611.0  0.241563
     96611   5.0  479   4.0  1.0  0.356994  517.0  0.277662
     96628  16.0  607   6.0  0.0  0.406919  681.0  0.285008
     96659   5.0  565   4.0  2.0  0.325664  623.0  0.223009
     96663   8.0  611   4.0  1.0  0.353519  679.0  0.242226
     96671   2.0  457   2.0  0.0  0.389497  534.0  0.221007
     96677   3.0  605   5.0  0.0  0.360331  639.0  0.304132
     96717   3.0  476   6.0  1.0  0.376050  528.0  0.266807
     96779   1.0  594   4.0  2.0  0.348485  647.0  0.259259
     96846   2.0  537   5.0  1.0  0.430168  622.0  0.271881
     96857   1.0  451  12.0  0.0  0.399113  518.0  0.250554
     96889   4.0  559   7.0  0.0  0.465116  637.0  0.325581
     96890   3.0  544   2.0  0.0  0.343750  585.0  0.268382
     96897   0.0  573   8.0  4.0  0.345550  630.0  0.246073
...          ...  ...   ...  ...       ...    ...       ...
     96971   4.0  519   6.0  0.0  0.425819  605.0  0.260116
     97002   7.0  560   6.0  2.0  0.469643  672.0  0.269643
NL   95619   6.0  525   3.0  0.0  0.369524  591.0  0.243810
     95688  15.0  547   4.0  1.0  0.424132  632.0  0.268739
     95728  15.0  598   5.0  0.0  0.458194  681.0  0.319398
     95741  11.0  560   7.0  0.0  0.394643  640.0  0.251786
     95871   1.0  469   7.0  0.0  0.402985  514.0  0.307036
     95895   3.0  519   3.0  0.0  0.356455  586.0  0.227360
     95918   1.0  513   1.0  0.0  0.354776  545.0  0.292398
     96021   4.0  540   9.0  0.0  0.401852  617.0  0.259259
     96070  11.0  518   3.0  0.0  0.438224  588.0  0.303089
     96127   0.0  533   3.0  3.0  0.386492  595.0  0.270169
     96133   5.0  562   3.0  2.0  0.366548  616.0  0.270463
     96138   2.0  604   5.0  0.0  0.440397  697.0  0.286424
     96165   1.0  587   3.0  0.0  0.374787  649.0  0.269165
     96167   7.0  609   2.0  1.0  0.403941  671.0  0.302135
     96180   3.0  599   5.0  0.0  0.434057  682.0  0.295492
     96251   2.0  475   7.0  0.0  0.362105  517.0  0.273684
     96291   7.0  506   6.0  0.0  0.391304  576.0  0.252964
     96301   7.0  571   9.0  0.0  0.416813  654.0  0.271454
     96425  13.0  593   5.0  0.0  0.475548  681.0  0.327150
     96461   4.0  505   5.0  3.0  0.427723  562.0  0.314851
     96621   7.0  530   9.0  0.0  0.496226  615.0  0.335849
     96646   3.0  570   4.0  0.0  0.389474  621.0  0.300000
     96706   2.0  632   3.0  2.0  0.359177  701.0  0.250000
     96812   5.0  561   3.0  0.0  0.354724  613.0  0.262032
     96820   9.0  449   1.0  0.0  0.414254  505.0  0.289532
     96952   2.0  588   2.0  0.0  0.362245  666.0  0.229592
     96985  16.0  581   5.0  0.0  0.481928  683.0  0.306368
     97000   8.0  578   4.0  0.0  0.401384  647.0  0.282007

[62 rows x 15 columns]

24) Who is the youngest player to hit 50 or more HRs in a single season? (Dataframe)

In [400]:
batting['Age']=batting['yearID']-batting['birthYear']

In [401]:
gyp = batting.groupby(['yearID','playerID','Age'])[['HR']].sum()
gn=gyp.rename(columns={'HR':'HR_total'})

In [405]:
gn.reset_index(inplace=True)

In [404]:
gn[(gn.HR_total>=50)].groupby('yearID').apply(lambda yst:yst[yst.Age==yst.Age.min()])

              yearID   playerID  Age  HR_total
yearID
1920   17072    1920   ruthba01   25        54
1921   17563    1921   ruthba01   26        59
1927   20643    1927   ruthba01   32        60
1928   21151    1928   ruthba01   33        54
1930   22266    1930  wilsoha01   30        56
1932   22909    1932   foxxji01   25        58
1938   25838    1938  greenha01   27        58
1947   30765    1947  kinerra01   25        51
1949   31846    1949  kinerra01   27        54
1955   35180    1955   mayswi01   24        51
1956   35748    1956  mantlmi01   25        52
1961   38648    1961  marisro01   27        61
1965   41399    1965   mayswi01   34        52
1977   50768    1977  fostege01   29        52
1990   62959    1990  fieldce01   27        51
1995   67916    1995  belleal01   29        50
1996   69003    1996  anderbr01   32        50
1997   70509    1997  griffke02   28        56
1998   71637    1998  griffke02   29        56
1999   73455    1999   sosasa01   31        63
2000   74664    2000   sosasa01   32        50
2001   75816    2001  rodrial01   26        52
2002   77027    2002  rodrial01   27        57
2005   80364    2005  jonesan01   28        51
2006   81534    2006  howarry01   27        58
2007   82621    2007  fieldpr01   23        50
2010   86159    2010  bautijo02   30        54
2013   90206    2013  davisch02   27        53

25) Who are the five youngest players to hit 300 or more HRs for their career? (Dataframe)

In [427]:
qq=batting.groupby('playerID').agg(['sum','mean'])

In [436]:
qq['HR_sum']= qq['HR']['sum']
qq['Age_mean']=qq['Age']['mean']

In [440]:
qqc=qq[['HR_sum','Age_mean']]

In [444]:
qqc[(qqc.HR_sum>=300)].sort_values(by='Age_mean').head(5)

          HR_sum Age_mean

playerID
cabremi01    446     26.5
fieldpr01    319     26.5
santoro01    342     27.0
jonesan01    434     27.0
luzingr01    307     27.0